In [29]:
import pandas as pd

In [30]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [31]:
def cripto(cripto):
    moneda = cg.get_coin_market_chart_range_by_id(cripto, 'usd', '1577761200', '1691798400')
    moneda = pd.DataFrame(moneda)
    columns_to_drop = ['market_caps', 'total_volumes']
    moneda.drop(columns=columns_to_drop, axis=1, inplace=True)
    moneda[['date', 'price']] = pd.DataFrame(moneda['prices'].tolist(), columns=['date', 'price'])
    moneda = moneda.drop(columns=['prices'])
    moneda['date'] = pd.to_datetime(moneda['date'], unit='ms')
    nombre_archivo = f'datos_csv/{cripto}_coin.csv'
    moneda.to_csv(nombre_archivo, index=False)
    return moneda

Top 5 criptomonedas según la capitalización del mercado

In [32]:
bitcoin = cripto('bitcoin')
ethereum = cripto('ethereum')
tether = cripto('tether')
bnb = cripto('binancecoin')
xrp = cripto('ripple')

Top 3 criptomonedas estables

In [33]:
tether = cripto('tether')
usd_coin = cripto('usd-coin')
dai = cripto('dai')

In [34]:
polygon = cripto('matic-network')

Las peores y mejores inversiones que se pudo haber hecho en el último año

In [35]:
def cripto(cripto):
    moneda = cg.get_coin_market_chart_range_by_id(cripto, 'usd', '1660262400', '1691798400')
    moneda = pd.DataFrame(moneda)
    columns_to_drop = ['market_caps', 'total_volumes']
    moneda.drop(columns=columns_to_drop, axis=1, inplace=True)
    moneda[['date', 'price']] = pd.DataFrame(moneda['prices'].tolist(), columns=['date', 'price'])
    moneda = moneda.drop(columns=['prices'])
    moneda['date'] = pd.to_datetime(moneda['date'], unit='ms')
    nombre_archivo = f'datos_csv/{cripto}_coin.csv'
    moneda.to_csv(nombre_archivo, index=False)
    return moneda

In [36]:
#Mejores
grove = cripto('grove')
dogecola = cripto('dogecola')
#Peores
wall_street_baby = cripto('wall-street-baby')
cryn = cripto('cryn')

In [37]:
def leer_csv(nombre):
    df = pd.read_csv(f'datos_csv\{nombre}_coin.csv')
    return df
    
bitcoin = leer_csv('bitcoin')

In [40]:
wall_street_baby

          date         price
0   2023-04-27  1.487766e-08
1   2023-04-28  1.487766e-08
2   2023-04-29  3.051870e-08
3   2023-04-30  8.284098e-08
4   2023-05-01  9.866318e-08
..         ...           ...
103 2023-08-08  6.484169e-09
104 2023-08-09  6.466463e-09
105 2023-08-10  6.324401e-09
106 2023-08-11  6.078765e-09
107 2023-08-12  6.127459e-09

[108 rows x 2 columns]